/**
 *  Patient Styles
 */

.patient_portrait {
	float: left;
	width: 68px;
	margin: 0 20px 10px 0;
	text-align: center;
	
	img {
		width: 60px; height: 80px;
		border: 4px solid rgba(0,0,0,0.2);
		box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	}
}

.demographics {
	h1 {
		font-size: 1.6em;
	}
}

.patient_location {
	margin-top: 0.5em;
}

#select_prompt {
	
}

#patient_problems {
	clear: left;
	padding-top: 1em;
}

ul#problem_list {
	padding: 0;
	list-style-type: none;
	
	li {
		padding: 0.5em;
		cursor: pointer;
		border: 1px solid transparent;
		
		&:hover {
			background-color: $col-boxbg;
		}
		&.active {
			border-color: $col-blue;
			box-shadow: 0 0 5px $col-border-glow;
			border-radius: 0.25em;
		}
	}
}

#trials > ul {
	li {
		margin-bottom: 0.5em;
		
		& > a:first-child {
			margin-right: 1em;
		}
		tt {
			display: block; margin-top: 0.3em;
			font-size: 10pt;
		}
	}
	
	.formatted_criteria {
		display: none; white-space: pre-wrap;
		margin: 0.5em 0 1em; padding: 1em 1em 1em;
		font-size: 10pt;
		border: 1px solid rgb(180,180,180); border-radius: 0.25em;
		background-color: rgb(240,240,240); 
	}
}

