/**
 *  Patient Styles
 */

.patient_portrait {
	float: left;
	width: 4em; height: 5.5em;
	margin: 0 2em 1em 0;
	text-align: center;
	
	border-radius: $border-radius;
	background: center center no-repeat url("portrait_default.png") transparent; background-size: 4em 5.5em;
	box-shadow: inset 0 1px 2em rgba(0,0,0,0.2);
}

.demographics {
	.demo_row {
		margin-top: 1em;
		font-size: 1.2em;
	}
	
	#demo_location, #demo_age {
		margin: 0; padding: 0.2em 0.4em;
		font-size: 1em;
		border: 1px solid $col-main-fg; border-radius: $border-radius;
		background-color: $col-main-bg;
		@include placeholder {
			color: lighten($col-main, 25%);
		}
	}
	#demo_location {
		width: 13.15em;
	}
	#demo_age {
		margin-left: 2em;
		width: 3.5em;
		text-align: right;
	}
	
	.demo_birthday {
		margin-left: 1em;
		font-size: 0.833em;
	}
	
	#select_female, #select_male {
		display: none;
	}
	.demo_gender {
		padding: 0.2em 0.4em;
		text-align: center; color: $col-trans-faded;
		border: 1px solid $col-border-inactive;
		cursor: pointer;
	}
	input:checked + .demo_gender {
		color: black;
		border-color: $col-main-fg;
		background-color: $col-main-bg;
	}
	#select_female_label {
		border-right-color: $col-main-fg;
		border-radius: $border-radius 0 0 $border-radius;
	}
	#select_male_label {
		border-left: none;
		border-radius: 0 $border-radius $border-radius 0;
	}
}


#patient_problems {
	clear: left;
	padding-top: 1em;
}

ul#problem_list {
	padding: 0;
	list-style-type: none;
	
	li {
		padding: 0.5em 0;
		line-height: 1.6;
		cursor: pointer;
		
		.problem_name {
			font-size: 1.2em;
		}
		
		&#prob_manual {
			cursor: default;
			
			input {
				width: 50%;
				margin: 0 0.5em 0 0;
			}
			button {
				font-size: 1.1em;
			}
		}
		
		&:hover {
			background-color: $col-boxbg;
		}
		
		&.active {
			padding: 0.5em;
			border: 1px solid $col-main-fg; border-radius: $border-radius;
			background-color: $col-main-bg;
		}
		
		#refresh_trials, #cancel_trials {
			float: right;
			font-size: 1.2em;
		}
		#cancel_trials {
			margin-right: 1em;
			font-size: 1em;
		}
	}
}

#manual_cancel {
	display: none;
}

