/**
 *  Patient Styles
 */

.patient_portrait {
	float: left;
	width: 4em; height: 5.5em;
	margin: 0 2em 1em 0;
	text-align: center;
	
	background: center center no-repeat url("portrait_default.png") transparent; background-size: 4em 5.5em;
	box-shadow: inset 0 1px 2em rgba(0,0,0,0.2);
}

.demographics {
	h1, .h1 {
		font-size: 1.6em;
	}
	
	#select_female, #select_male {
		display: none;
	}
	.demo_gender {
		padding: 0.4em 1em 0.3em;
		color: #666;
		border: 1px solid #CCC;
		line-height: 2em;
	}
	input:checked + .demo_gender {
		color: black;
		border-color: #999;
		background-color: $col-input-active;
	}
	#select_female_label {
		margin-left: 2em;
		border-right-color: #999;
	}
	#select_male_label {
		border-left: none;
	}
	
	.demo_age {
		margin-top: 1em;
		font-size: 1.2em;
		
		input {
			font-size: 1em; text-align: right;
			background-color: $col-input-active;
		}
		.demo_birthday {
			margin-left: 1.5em;
			font-size: 0.833em;
		}
	}
	
	.patient_location {
		margin-top: 1em;
	}
}


#patient_problems {
	clear: left;
	padding-top: 1em;
}

ul#problem_list {
	padding: 0;
	list-style-type: none;
	
	li {
		padding: 0.5em;
		cursor: pointer;
		border: 1px solid transparent;
		
		&#prob_manual {
			cursor: default;
			
			input {
				margin: 0 0.5em 0 0;
			}
			button {
				font-size: 1.1em;
			}
		}
		
		&:hover {
			background-color: $col-boxbg;
		}
		&.active {
			border: 1px solid $col-border-active;
			background-color: $col-input-active;
		}
		
		#refresh_trials, #cancel_trials {
			float: right;
			font-size: 1.2em;
		}
		#cancel_trials {
			margin-right: 1em;
			font-size: 1em;
		}
	}
}

#trials > h3 {
	clear: right;
	padding-top: 2em;
}

#trials > ul {
	padding: 0;
	list-style-type: none;
	
	li {
		clear: right;
		margin-bottom: 1em; padding-top: 1em;
		line-height: 1.4;
		border-top: 1px solid #CCC;
		
		& > a:first-child {
			margin-right: 1em;
		}
		
		.trial_info {
			width: 35%;
			
			a {
				text-decoration: none;
			}
			
			.exclusion_reason {
				display: block; margin-top: 0.3em;
				font-size: 10pt; color: #A00;
			}
		}
		
		.trial_countries {
			float: right; width: 65%;
			margin-bottom: 1em;
			line-height: 1.6;
			
			a {
				margin-left: 2em;
				color: #00B; font-size: 1.2em; font-weight: bold; text-decoration: none;
				white-space: nowrap;
			}
		}
		
		.trial_locations {
			float: right; width: 65%;
			
			& > div {
				display: none;
			}
			
			.trial_location {
				display: inline-block;
				max-width: 44%;					// don't ask why 45% + 5% will force a line break
				margin: 0 0 1.5em 5%;
				vertical-align: top; text-align: center;
				
				.loc_status {
					color: #999; font-size: 0.9em;
				}
				.loc_city {
					font-weight: bold;
				}
				.loc_country {
					font-size: 1.2em; font-weight: bold;
				}
			}
		}
		
		.formatted_criteria {
			clear: right;
			display: none;
			margin: 0.5em 0 1em; padding: 1em;
			font-size: 10pt; white-space: pre-wrap;
			border: 1px solid rgb(180,180,180); border-radius: 0.25em;
			background-color: rgb(240,240,240); 
		}
	}
}

