//
//  Defaults
//


@import "bourbon";

$col-title:			rgb(30,30,30);
$col-linkglow:		rgb(0,64,128);
$col-faded:			rgb(80,80,80);
$col-border:		rgb(120,120,120);
$col-border-active:	rgb(150,150,50);
$col-blue:			rgb(100,200,240);
$col-input-active:	rgba(200,200,0,0.5);

$col-boxbg:			rgb(230,230,230);
$col-redbg:			rgb(200,30,20);
$col-greenbg:		rgb(160,255,110);

$mar-general:		15px;

$w-column:			380px;

html, body {
	height: 100%; margin: 0; padding: 0;
	font: 11pt "Helvetica-Neue", Helvetica, sans-serif; line-height: 1.3;
	background-color: rgb(246,246,246);
}

h2 {
	margin-bottom: 0.3em;
}

h3 {
	&:first-child { margin-top: 0.3em; }
}

p {
	padding: 0.5em 0;
	&:first-child { margin-top: 0; }
	&:last-child { margin-bottom: 0; }
}

table {
	border-collapse: collapse;
}
td {
	&:first-child { padding-left: 0; }
	&:last-child { padding-right: 0; }
}

#back_to_patient_select {
	margin-bottom: 2em;
	a {
		text-decoration: none;
	}
}

#container {
	max-width: 70em; min-height: 100%;
	margin: 0 auto;
}

@media screen and (min-width: 72em) {
	#container {
		border: 1px solid $col-border; border-width: 0 1px;
	}	
}

#container {
	background-color: white;
}

#content {
	padding: 2em 3em;
}

#g_map {
	display: none;
	width: 100%; height: 400px;
}


@import "patient";
@import "trials";
@import "smart";


// Generic
.green {
	color: #090;
}

.red {
	color: #A00;
}

.bigger {
	font-size: 1.1em; font-weight: bold;
}

.faded {
	color: $col-faded;
}

.supplement {
	font-size: 0.9em; color: $col-faded;
}

.small {
	font-size: 0.85em;
}

