/**
 *  Styles for trial data
 */

.trial_opt_selector {
	margin-top: 2em;
	
	a {
		display: inline-block;
		margin-left: 1em;
		font-size: 1.2em; text-decoration: none;
		
		&:first-child {
			margin-left: 0;
		}
		
		span {
			margin-left: 0.4em;
			&:before, &::before {
				content: "(";
			}
			&:after, &::after {
				content: ")";
			}
		}
	}
}

ul.trial_list {
	padding: 0;
	list-style-type: none;
	
	li {
		margin-bottom: 1em; padding-top: 1em;
		line-height: 1.4;
		border-top: 1px solid #CCC;
		
		&:first-child {
			border-top: none;
		}
	}
}

.trial {
	&.active {
		padding: 1em;
		border: 1px solid $col-border-active;
		background-color: $col-input-active;
	}
	
	& > a:first-child {
		margin-right: 1em;
	}
	
	.trial_info {
		width: 35%;
		
		a {
			text-decoration: none;
		}
		
		.exclusion_reason {
			display: block; margin-top: 0.3em;
			font-size: 10pt; color: #A00;
		}
	}
	
	.trial_countries {
		float: right; width: 65%;
		margin-bottom: 1em;
		line-height: 1.6;
		
		a {
			margin-left: 2em;
			color: #00B; font-size: 1.2em; font-weight: bold; text-decoration: none;
			white-space: nowrap;
		}
	}
	
	.trial_locations {
		float: right; width: 65%;
		
		& > div {
			display: none;
		}
		
		.trial_location {
			display: inline-block;
			max-width: 44%;					// don't ask why 45% + 5% will force a line break
			margin: 0 0 1.5em 5%;
			vertical-align: top; text-align: center;
			
			.loc_status, .loc_distance {
				color: rgba(0,0,0,0.4); font-size: 0.9em;
			}
			.loc_city {
				font-weight: bold;
			}
			.loc_country {
				font-size: 1.2em; font-weight: bold;
			}
		}
	}
	
	.formatted_criteria {
		clear: right;
		display: none;
		margin: 0.5em 0 1em; padding: 1em;
		font-size: 10pt; white-space: pre-wrap;
		border: 1px solid rgb(180,180,180);
		background-color: rgb(245,245,245); 
	}
}

