/**
 *  Styles for trial data
 */

#trial_status, #trial_selectors, #trials {
	display: none;
	margin: 3em 0;
}

.trial_selector {
	margin-top: 1.5em;
	line-height: 1.6;
	
	a {
		display: inline-block;
		margin-right: 1.5em;
		font-size: 1.2em;
		
		&.active {
			padding: 0 0.4em;
			color: black;
			border: 1px solid $col-main-border;
			background-color: $col-main-bg;
		}
		
		&:last-child {
			margin-right: 0;
		}
		
		span {
			white-space: nowrap;
			
			&.num_matches {
				margin-left: 0.4em;
				
				&:before, &::before {
					content: "(";
				}
				&:after, &::after {
					content: ")";
				}
			}
		}
	}
}

.trial_opt_selector {
	float: left;
	width: 50%;
	line-height: 1.6;
	
	h2 {
		margin: 1em 0 0.5em;
	}
}

ul.trial_selector, .trial_opt_selector ul {
	padding-left: 0;
	list-style-type: none;
	line-height: 1.8;
	
	li {
		font-size: 1.1em;
		color: $col-link;
		
		&.active {
			font-weight: bold;
		}
		
		input {
			vertical-align: 15%;
			margin-right: 0.75em;
		}
		
		span {
			white-space: nowrap;
			
			&.num_matches {
				margin-left: 0.4em;
				
				&:before, &::before {
					content: "(";
				}
				&:after, &::after {
					content: ")";
				}
			}
		}
	}
}

#selector_inv_phase_parent {
	display: none;
}


ul.trial_list {
	margin-top: 1em; padding: 0;
	list-style-type: none;
	
	li {
		margin-bottom: 1em; padding-top: 1em;
		line-height: 1.4;
		border-top: 1px solid $col-border;
		
		&:first-child {
			border-top: none;
		}
		
		h1 {
			text-align: center;
		}
	}
}

#selected_trial {
	display: none;
	
	li {
		position: relative;
		border-top-color: darken($col-border, 20%);
	}
	
	.dismiss_link {
		position: absolute; top: 3pt; right: 4pt;
		font-size: 0.9em;
	}
	
	&.active {
		padding: 1em;
		border: 1px solid $col-main-border; border-radius: $border-radius;
		background-color: lighten($col-main-bg, 15%);
		
		.trial {
			
		}
	}
}


.trial {
	& > a:first-child {
		margin-right: 1em;
	}
	
	.trial_info {
		width: 35%;
		
		.exclusion_reason {
			display: block; margin-top: 0.3em;
			font-size: 10pt; color: #A00;
		}
	}
	
	.trial_locations {
		float: right; width: 65%;
		
		& > div {
			display: none;
		}
		
		.trial_location {
			display: inline-block;
			max-width: 44%;					// don't ask why 45% + 5% will force a line break
			margin: 0 0 1.5em 5%;
			vertical-align: top; text-align: center;
			
			.loc_status, .loc_distance {
				color: $col-trans-faded; font-size: 0.9em;
			}
			.loc_city {
				font-weight: bold;
			}
			.loc_country {
				font-size: 1.2em; font-weight: bold;
			}
			
			.loc_contact {
				position: absolute; display: none;
				top: 1.5em; left: 0;
				padding: 1.2em;
				color: black; font-size: 110%; line-height: 1.6;
				background-color: $col-note;
				border: 1em solid rgba(0,0,0,0.2); border-radius: 1em;
				z-index: 2;
				
				div {
					white-space: nowrap;
				}
			}
		}
	}
	
	.formatted_criteria {
		clear: right;
		display: none;
		margin: 0.5em 0 1.5em; padding: 1em;
		font-size: 11pt; white-space: pre-wrap;
		border: 1px solid $col-border; border-radius: $border-radius;
		background-color: $col-bg; 
	}
}

