.DS_Store
*.pyc

# ignore SQLite databases
storage.db
umls.db

# ignore generated report
report.html

# ignore ctakes
ctakes
ctakes_input
ctakes_output

# ignore UMLS files
umls.sh
SnomedCT_Release_INT_*

