.DS_Store
*.pyc

# ignore databases
databases/*

# ignore UMLS settings
umls.sh

# ignore the run-directories
run-*/

# ignore generated report
report.html

# ignore ctakes
ctakes
ctakes_input
ctakes_output

# ignore editor files
*.sublime-*

