.DS_Store
*.pyc
ctakes-svn*

# ignore databases
databases/*

# ignore settings
env.sh

# ignore the run-directories
run-*/

# ignore generated html
report.html
static/help.html

# ignore editor files
*.sublime-*

