<html ng-app>
<head>
	<style>
	html, body { min-height: 100%; margin: 0; }
	body { padding: 2em; font-family: 'Helvetica-Neue', Helvetica, sans-serif; line-height: 1.3; }
	pre { line-height: 1.1; }
	.raw { padding: 0.5em; color: rgba(0,0,0,0.5); border: 1px solid rgba(0,0,0,0.2); word-break: break-word; overflow: auto; }
	.faded { color: rgba(0,0,0,0.5); }
	.small { font-size: 0.85em; }
	.error { margin: 1em 0; color: #900; }
	</style>
</head>
<body>
	<h3>ClinicalTrials.gov</h3>
	<div ng-controller="Grabber">
		<div class="error" ng-cloak ng-show="error_msg != null" ng-hide="error_msg == null" ng-bind-html-unsafe="error_msg"></div>
		
		<div>All trials: {{ num_all || "Waiting..." }}</div>
		<div>Recruiting: {{ num_recr || "Waiting..." }}</div>
		<div>Eligibility: {{ num_elig || 0 }} of {{ num_curr || 0 }} ({{ num_elig / num_curr * 100 | number:2 }}%)</div>
		
		<p>
			<button ng-click="start()" ng-cloak ng-show="!running" ng-hide="running">Run</button>
			<button ng-click="stop()" ng-cloak ng-show="running" ng-hide="!running">Abort</button>
		</p>
		<p class="faded small" ng-cloak ng-show="waiting_for > 0" ng-hide="waiting_for < 1">
			Working...
		</p>
		
		<pre class="raw" ng-cloak ng-show="raw != null" ng-hide="raw == null">{{ raw }}</pre>
	</div>
	
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
	<script src="xml2json.js"></script><!-- http://code.google.com/p/x2js/ -->
	<script src="Grabber.js"></script>
</body>
</html>