html, body { height: 100%; margin: 0; padding: 0; font: 11pt "Helvetica-Neue", Helvetica, sans-serif; line-height: 1.3; background-color: #f6f6f6; }

h2 { margin-bottom: 0.3em; }

h3:first-child { margin-top: 0.3em; }

a { color: #00B; text-decoration: none; }

p { padding: 0.5em 0; }
p:first-child { margin-top: 0; }
p:last-child { margin-bottom: 0; }

table { border-collapse: collapse; }

td:first-child { padding-left: 0; }
td:last-child { padding-right: 0; }

#back_to_patient_select { margin-bottom: 2em; }
#back_to_patient_select a { text-decoration: none; }

#container { max-width: 70em; min-height: 100%; margin: 0 auto; }

@media screen and (min-width: 72em) { #container { border: 1px solid #787878; border-width: 0 1px; } }
#container { background-color: white; }

#content { padding: 2em 3em; }

#g_map { display: none; width: 100%; height: 400px; }

/** Patient Styles */
.patient_portrait { float: left; width: 4em; height: 5.5em; margin: 0 2em 1em 0; text-align: center; background: center center no-repeat url("portrait_default.png") transparent; background-size: 4em 5.5em; box-shadow: inset 0 1px 2em rgba(0, 0, 0, 0.2); }

.demographics h1 { font-size: 1.6em; }
.demographics .demo_row { margin-top: 1em; font-size: 1.2em; }
.demographics #demo_location, .demographics #demo_age { margin: 0; padding: 0.2em 0.4em; font-size: 1em; border: 1px solid #969632; background-color: rgba(200, 200, 0, 0.5); }
.demographics #demo_location { width: 13.15em; }
.demographics #demo_age { margin-left: 2em; width: 3.5em; text-align: right; }
.demographics .demo_birthday { margin-left: 1em; font-size: 0.833em; }
.demographics #select_female, .demographics #select_male { display: none; }
.demographics .demo_gender { padding: 0.2em 0.4em; text-align: center; color: #666; border: 1px solid #cccccc; cursor: pointer; }
.demographics input:checked + .demo_gender { color: black; border-color: #969632; background-color: rgba(200, 200, 0, 0.5); }
.demographics #select_female_label { border-right-color: #969632; }
.demographics #select_male_label { border-left: none; }

#patient_problems { clear: left; padding-top: 1em; }

ul#problem_list { padding: 0; list-style-type: none; }
ul#problem_list li { padding: 0.5em 0; line-height: 1.4; cursor: pointer; }
ul#problem_list li .problem_name { font-size: 1.2em; }
ul#problem_list li#prob_manual { cursor: default; }
ul#problem_list li#prob_manual input { margin: 0 0.5em 0 0; }
ul#problem_list li#prob_manual button { font-size: 1.1em; }
ul#problem_list li:hover { background-color: #e6e6e6; }
ul#problem_list li.active { padding: 0.5em; border: 1px solid #969632; background-color: rgba(200, 200, 0, 0.5); }
ul#problem_list li #refresh_trials, ul#problem_list li #cancel_trials { float: right; font-size: 1.2em; }
ul#problem_list li #cancel_trials { margin-right: 1em; font-size: 1em; }

/** Styles for trial data */
#trials { margin-top: 3em; }

.trial_opt_selector { margin-top: 1.5em; line-height: 1.6; }
.trial_opt_selector a { display: inline-block; margin-right: 1.5em; font-size: 1.2em; }
.trial_opt_selector a.active { padding: 0 0.4em; color: black; border: 1px solid #969632; background-color: rgba(200, 200, 0, 0.5); }
.trial_opt_selector a:last-child { margin-right: 0; }
.trial_opt_selector a span { white-space: nowrap; }
.trial_opt_selector a span.num_matches { margin-left: 0.4em; }
.trial_opt_selector a span.num_matches:before, .trial_opt_selector a span.num_matches::before { content: "("; }
.trial_opt_selector a span.num_matches:after, .trial_opt_selector a span.num_matches::after { content: ")"; }

ul.trial_list { margin-top: 3em; padding: 0; list-style-type: none; }
ul.trial_list li { margin-bottom: 1em; padding-top: 1em; line-height: 1.4; border-top: 1px solid #CCC; }
ul.trial_list li:first-child { border-top: none; }

.trial.active { padding: 1em; border: 1px solid #969632; background-color: rgba(200, 200, 0, 0.5); }
.trial > a:first-child { margin-right: 1em; }
.trial .trial_info { width: 35%; }
.trial .trial_info .exclusion_reason { display: block; margin-top: 0.3em; font-size: 10pt; color: #A00; }
.trial .trial_countries { float: right; width: 65%; margin-bottom: 1em; line-height: 1.6; }
.trial .trial_countries a { margin-left: 2em; font-size: 1.2em; font-weight: bold; white-space: nowrap; }
.trial .trial_locations { float: right; width: 65%; }
.trial .trial_locations > div { display: none; }
.trial .trial_locations .trial_location { display: inline-block; max-width: 44%; margin: 0 0 1.5em 5%; vertical-align: top; text-align: center; }
.trial .trial_locations .trial_location .loc_status, .trial .trial_locations .trial_location .loc_distance { color: rgba(0, 0, 0, 0.4); font-size: 0.9em; }
.trial .trial_locations .trial_location .loc_city { font-weight: bold; }
.trial .trial_locations .trial_location .loc_country { font-size: 1.2em; font-weight: bold; }
.trial .formatted_criteria { clear: right; display: none; margin: 0.5em 0 1em; padding: 1em; font-size: 10pt; white-space: pre-wrap; border: 1px solid #b4b4b4; background-color: whitesmoke; }

/** SMART specific styles */
#endpoints { overflow: hidden; background-color: white; border: 1px solid #787878; border-radius: 5px; padding-left: 0; }
#endpoints li { list-style-type: none; }
#endpoints a { display: block; padding: 0.5em 1em; text-decoration: none; color: black; border-bottom: 1px solid #787878; }
#endpoints a:last-child { border-bottom: none; }
#endpoints a:hover { color: #08394d; background-color: #d8f1fb; }
#endpoints a span { display: block; color: #787878; }

.green { color: #090; }

.red { color: #A00; }

.faded { color: #505050; }

.supplement { font-size: 0.9em; color: #505050; }

.small { font-size: 0.85em; }
