html, body { height: 100%; margin: 0; padding: 0; font: 11pt "Helvetica-Neue", Helvetica, sans-serif; line-height: 1.3; background-color: #f6f6f6; }

h2 { margin-bottom: 0.3em; }

h3:first-child { margin-top: 0.3em; }

p { padding: 0.5em 0; }
p:first-child { margin-top: 0; }
p:last-child { margin-bottom: 0; }

table { border-collapse: collapse; }

td:first-child { padding-left: 0; }
td:last-child { padding-right: 0; }

#container { max-width: 70em; min-height: 100%; margin: 0 auto; }

@media screen and (min-width: 72em) { #container { border: 1px solid #787878; border-width: 0 1px; } }
#container { background-color: white; }

#content { padding: 2em 3em; }

/** Patient Styles */
.patient_portrait { float: left; width: 4em; height: 5.5em; margin: 0 2em 1em 0; text-align: center; background: center center no-repeat url("portrait_default.png") transparent; background-size: 4em 5.5em; box-shadow: inset 0 1px 2em rgba(0, 0, 0, 0.2); }

.demographics h1, .demographics .h1 { font-size: 1.6em; }
.demographics #select_female, .demographics #select_male { display: none; }
.demographics .demo_gender { padding: 0.4em 1em 0.3em; color: #666; border: 1px solid #CCC; line-height: 2em; }
.demographics input:checked + .demo_gender { color: black; border-color: #999; background-color: rgba(200, 200, 0, 0.5); }
.demographics #select_female_label { margin-left: 2em; border-right-color: #999; }
.demographics #select_male_label { border-left: none; }
.demographics .demo_age { margin-top: 1em; font-size: 1.2em; }
.demographics .demo_age input { font-size: 1em; text-align: right; background-color: rgba(200, 200, 0, 0.5); }
.demographics .demo_age .demo_birthday { margin-left: 1.5em; font-size: 0.833em; }
.demographics .patient_location { margin-top: 1em; }

#patient_problems { clear: left; padding-top: 1em; }

ul#problem_list { padding: 0; list-style-type: none; }
ul#problem_list li { padding: 0.5em; cursor: pointer; border: 1px solid transparent; }
ul#problem_list li#prob_manual { cursor: default; }
ul#problem_list li#prob_manual input { margin: 0 0.5em 0 0; }
ul#problem_list li#prob_manual button { font-size: 1.1em; }
ul#problem_list li:hover { background-color: #e6e6e6; }
ul#problem_list li.active { border: 1px solid #969696; background-color: rgba(200, 200, 0, 0.5); }
ul#problem_list li #refresh_trials, ul#problem_list li #cancel_trials { float: right; font-size: 1.2em; }
ul#problem_list li #cancel_trials { margin-right: 1em; font-size: 1em; }

#trials > h3 { clear: right; padding-top: 2em; }

#trials > ul { padding: 0; list-style-type: none; }
#trials > ul li { clear: right; margin-bottom: 1em; padding-top: 1em; line-height: 1.4; border-top: 1px solid #CCC; }
#trials > ul li > a:first-child { margin-right: 1em; }
#trials > ul li .trial_info { width: 35%; }
#trials > ul li .trial_info a { text-decoration: none; }
#trials > ul li .trial_info .exclusion_reason { display: block; margin-top: 0.3em; font-size: 10pt; color: #A00; }
#trials > ul li .trial_countries { float: right; width: 65%; margin-bottom: 1em; line-height: 1.6; }
#trials > ul li .trial_countries a { margin-left: 2em; color: #00B; font-size: 1.2em; font-weight: bold; text-decoration: none; white-space: nowrap; }
#trials > ul li .trial_locations { float: right; width: 65%; }
#trials > ul li .trial_locations > div { display: none; }
#trials > ul li .trial_locations .trial_location { display: inline-block; max-width: 44%; margin: 0 0 1.5em 5%; vertical-align: top; text-align: center; }
#trials > ul li .trial_locations .trial_location .loc_status { color: #999; font-size: 0.9em; }
#trials > ul li .trial_locations .trial_location .loc_city { font-weight: bold; }
#trials > ul li .trial_locations .trial_location .loc_country { font-size: 1.2em; font-weight: bold; }
#trials > ul li .formatted_criteria { clear: right; display: none; margin: 0.5em 0 1em; padding: 1em; font-size: 10pt; white-space: pre-wrap; border: 1px solid #b4b4b4; border-radius: 0.25em; background-color: #f0f0f0; }

/** SMART specific styles */
#endpoints { overflow: hidden; background-color: white; border: 1px solid #787878; border-radius: 5px; padding-left: 0; }
#endpoints li { list-style-type: none; }
#endpoints a { display: block; padding: 0.5em 1em; text-decoration: none; color: black; border-bottom: 1px solid #787878; }
#endpoints a:last-child { border-bottom: none; }
#endpoints a:hover { color: #08394d; background-color: #d8f1fb; }
#endpoints a span { display: block; color: #787878; }

.green { color: #090; }

.red { color: #A00; }

.bigger { font-size: 1.1em; font-weight: bold; }

.faded { color: #505050; }

.supplement { font-size: 0.9em; color: #505050; }

.small { font-size: 0.85em; }
