<!DOCTYPE html>
<html>
<head>
	<title>Trial Eligibility</title>
	<link rel="stylesheet" type="text/css" href="static/style.css" />
</head>
<body>
	<div id="container">
		<div id="content">
			<div class="back_to_select">
				{% if 'none' != api_base %}
				<a id="back_to_patient" href="index.html?api_base={{ api_base }}&amp;record_id=0">« Change patient</a>
				{% endif %}
				<a href="index.html?api_base=">« Start over</a>
			</div>
			
			<div id="patient_overview">
				Loading...
			</div>
			<div id="patient_problems"></div>
			
			<div id="trial_status"></div>
			<div id="trial_selectors">
				<div id="selector_goodbad" class="trial_selector"></div>
				<div class="trial_opt_selector">
					<h2>1: Trial phase</h2>
					<ul id="selector_inv_phase"></ul>
				</div>
				<div class="trial_opt_selector">
					<h2>2: Intervention types</h2>
					<ul id="selector_inv_type"></ul>
					<div class="supplement">(Trials can have more than one intervention type)</div>
				</div>
			</div>
			<div style="clear:left;"> </div>
			
			<ul id="selected_trial" class="trial_list"></ul>
			<div id="g_map"></div>
			<a id="g_map_toggle" href="javascript:void(0)" onclick="toggleTrialMap()">Show Map</a>
			
			<div id="trials">
				<ul id="trial_list" class="trial_list"></ul>
			</div>
		</div>
	</div>
</body>
<script src="static/jquery-1.9.1.min.js"></script>
<script src="static/jquery.view.ejs.min.js"></script>
<script src="static/moment.min.js"></script>
<script src="static/Base.min.js"></script>
<script src="static/main.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ defs.google_api_key }}&sensor=false"></script>
{% if defs.smart_v05 %}
<!-- SMART v0.5 hack -->
<script src="http://sample-apps-v05.smartplatforms.org/framework/smart/scripts/smart-api-client.js"></script>
<script>
SMART.ready(function() {
	
	// get demographics
	SMART.get_demographics()
	.success(function(demo) {
		$.ajax({
			'url': 'session',
			'data': 'demographics=' + encodeURI(demo.body),
			'method': 'put'
		})
		.always(function() {
			
			// get problems
			SMART.get_problems()
			.success(function(problems) {
				$.ajax({
					'url': 'session',
					'data': 'problems=' + encodeURI(problems.body),
					'method': 'put'
				})
				.always(function() {
					
				    // finally start app
					initApp();
				});
			})
			.error(function(e) {
				alert("Failed to get SMART problems: " + e.message + ' (' + e.status + ')');
			});
		});
	})
	.error(function(e) {
		alert("Failed to get SMART demographics: " + e.message + ' (' + e.status + ')');
	});
});
</script>
<!-- /SMART v0.5 -->
{% else %}
<script>
$(document).ready(function() {
	initApp();
});
</script>
{% endif %}
<script>
var _last_manual_condition = "{{ last_manual_condition }}";
</script>
</html>
