<!DOCTYPE html>
<html>
<head>
	<title>Trial Eligibility</title>
	<link rel="stylesheet" type="text/css" href="static/style.css" />
</head>
<body>
	<div id="container">
		<div id="content">
			<h1>Trial Eligibility</h1>
			{% if not has_chrome %}
			<div id="back_to_patient_select">
				<a href="?api_base={{ api_base }}">« Select patient</a>
			</div>
			{% endif %}
			<div id="patient_overview">
				Loading patient...
			</div>
			<div id="patient_problems"></div>
			<div id="trials"></div>
		</div>
	</div>
</body>
<script src="static/jquery-1.9.1.min.js"></script>
<script src="static/jquery.view.ejs.min.js"></script>
<script src="static/moment.min.js"></script>
<script src="static/Base.min.js"></script>
<script src="static/main.min.js"></script>
{% if smart_v05 %}
<!-- SMART v0.5 hack -->
<script src="http://sample-apps-v05.smartplatforms.org/framework/smart/scripts/smart-api-client.js"></script>
<script>
SMART.ready(function() {
	
	// get demographics
	SMART.get_demographics()
	.success(function(demo) {
		$.ajax({
			'url': 'session',
			'data': 'demographics=' + encodeURI(demo.body),
			'method': 'put'
		})
		.always(function() {
			
			// get problems
			SMART.get_problems()
			.success(function(problems) {
				$.ajax({
					'url': 'session',
					'data': 'problems=' + encodeURI(problems.body),
					'method': 'put'
				})
				.always(function() {
					
				    // finally start app
					initApp();
				});
			})
			.error(function(e) {
				alert("Failed to get SMART problems: " + e.message + ' (' + e.status + ')');
			});
		});
	})
	.error(function(e) {
		alert("Failed to get SMART demographics: " + e.message + ' (' + e.status + ')');
	});
});
</script>
<!-- /SMART v0.5 -->
{% else %}
<script>
$(document).ready(function() {
	initApp();
});
</script>
{% endif %}
</html>
