<p id="select_prompt">Choose for which problem to find trials:</p>
<ul id="problem_list">
<% 
var probs = (data && 'problems' in data) ? data['problems'] : [];
if (probs.length > 0) {
	probs.sort(compareProblemByNameASC);
	var already_have = [];
	
	for (var i = 0; i < probs.length; i++) {
		var prob = probs[i];
		var prob_name = prob['sp:problemName']['dcterms:title'];
		if (already_have.contains(prob_name)) {
			continue;
		}
		
		already_have.push(prob_name);
		var html_id = '@id' in prob ? prob['@id'].replace(/[^\w\d]+/g, '') : null;
		if (!html_id) {  		// i2b2 does not have @id!
			html_id = prob_name.replace(/[^\w\d]+/g, '') + '_' + Math.round(Math.random() * 10000);
		}
		
		if ('sp:Problem' == prob['@type']) { %>
			<li id="<%= html_id %>" onclick="didClickProblem('<%= html_id %>')">
				<div class="bigger"><%= prob_name %></div>
				
				<% if ('sp:startDate' in prob || 'sp:endDate' in prob) {
					var period = '';
					if ('sp:startDate' in prob) {
						period = ('sp:endDate' in prob) ? 'from ' : 'since ';
						period += '<b>' + moment(prob['sp:startDate']).format('ll') + '</b>';
					}
					if ('sp:endDate' in prob) {
						if (period.length > 0) {
							period += ' until ';
						}
						period += '<b>' + moment(prob['sp:endDate']).format('ll') + '</b>';
					} %>
				<div class="supplement"><%== period %></div>
				<% } %>
			</li><%
		}
	}
} %>
	<li class="faded">Enter manually (disabled)</li>
</ul>
